# Python
meme/.vscode/**
**/venv/**
meme/**/__pycache__/**
meme/memer/migration/**
meme/*.sqlite3

# JS
live-server/.vscode/**
**/node_modules/**
**/package-lock.json
meme/alias/static/js/**

# SQL
*.sql