<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <script src="{% static "js/default.js" %}"></script>
    {% load bootstrap4 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <meta charset="utf-8" />
    <title>Memer game</title>
</head>

<body>
    <h2 style="text-align: center;">Приветствую тебя
        {% if user != "AnonymousUser" %}
        {{ user }}
        {% else %}
        <p>странник</p>
        {% endif %}</h2>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4"></div>
            <div class="col-4">
                <h3 style="text-align: center;">Выбери игру</h3>
            </div>
            <div class="col-4">
                <div class="btn-group-vertical" role="group" aria-label="aria">
                    <a href="/signin" class="btn btn-primary btn-sm" role="button">Войти</a>
                    <a href="/signup" class="btn btn-primary btn-sm" role="button">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <a href="/alias"> <button type="button" id="alias-btn"
                    class="btn btn-outline-primary btn-lg">Alias</button></a>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-secondary btn-lg">Memer</button>
        </div>
        <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-danger btn-lg">Jokes</button>
        </div>
    </div>
</body>

</html>