<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Alias_bsdesign</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "fonts/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/Features-Boxed.css" %}">
    <link rel="stylesheet" href="{% static "css/Highlight-Blue.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static "css/Simple-Slider.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>

<body><div>
        <div class="row">
            <div class="col-md-4"><button class="btn btn-success" type="button">Отгадано</button></div>
            <div class="col-md-4"><small>Очередное слов</small></div>
            <div class="col-md-4"><button class="btn btn-danger" type="button">Не отгадано</button></div>
        </div>
</div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/bundle.js" %}"></script>
    <script src="{% static "js/Simple-Slider.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
</body>

</html>