<!doctype html>
<html lang="ru">

<head>
  {% load static %}
  <script src="{% static "js/default.js" %}"></script>
  {% load bootstrap4 %}
  <script src="{% bootstrap_jquery_url %}"></script>
  {% bootstrap_javascript %}
  {% bootstrap_css %}
  <meta charset="utf-8" />
  <title>Alias: lobby</title>
</head>

<body>
  <div class="container justify-content-center">
    <h2><span class="badge badge-warning">Настройки</span></h2>
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Словарь</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <!-- tamplate -->
          <option>Простые</option>
          <option>Сложные</option>
          <option>Обычные</option>
        </select>
      </div>
    </form>
  </div>
  <div class="container">
    <h2><span class="badge badge-success">Игроки</span></h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</th>
          <th scope="col">Статус</th>
        </tr>
      </thead>
      <tbody>
        <!-- tamplate -->
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>