<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Alias_bsdesign</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static "css/styles.min.css" %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static "js/bundle.js" %}"></script>
</head>

<body>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Alias</h2>
                <p class="text-center">Разделителись на команды, выберите словарь и погнали</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-book icon"></i>
                        <h3 class="name">Словарь</h3>
                        <p class="description">Описание текущего словаря</p><select
                            class="custom-select custom-select-sm" value="Выберите" name="dictionary">
                            <optgroup label="Простые">
                                <option value="12" selected="">Животные</option>
                                <option value="13">Еда</option>
                                <option value="14">Обычные</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Время раунда</h3>
                        <p class="description">Сколько секунд длится один раунд</p><input class="custom-range"
                            type="range" id="round-range" name="round-time" value="10" min="10" max="60" step="5">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div>
                    <label id="alias_username">Ну что, user{{ user.username }}. Готов создать команду?</label>
                        <label>Название команды</label for="alias_new_team">
                    <input class="border-primary form-control" name="team" id="alias_new_team" type="text" minlength="3" maxlength="10"
                        pattern="[\w\d]+" required="">
                    <button class="btn btn-primary btn-block btn-sm d-sm-flex" type="button" id="alias_new_team_button">Создать команду</button>
            </div>
            <div class="table-responsive">
                <table class="table" id="alias_teams">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Команда</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                            <td>Cell 4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>